.card {
  border: solid 1px #c3c3c3;
  border-radius: 0.5rem;
  width: 240px;
  padding: 0.5rem 1rem;
  position: relative;

  .button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border-color: crimson;
    color: crimson;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;

    &:hover {
      background-color: crimson;
      color: white;
    }
  }

  .data {
    display: flex;
    flex-direction: row; // valor por defecto
    align-items: center;
    justify-content: space-between;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;

      + section {
        margin-left: 1rem;
      }
    }
  }
}
