.searchBar {
  display: flex;
  align-items: center;
  border-radius: 9999px;
  padding: 0.25rem 0.5rem;
  background-color: white;
  box-shadow: 0 0 4px #1e1e1e;
  width: fit-content;
  margin: 0 auto;
  transition: 0.25s;

  &:hover {
    box-shadow: 2px 2px 8px #1e1e1e;
  }

  input {
    border: solid 0px transparent;

    &:focus {
      outline: none;
    }
  }

  button {
    color: #1e1e1e;
    transition: 0.25s;

    &:hover {
      color: black;
    }
  }
}

